/* Div principal mãe de todas 
*/
.About{
    margin: auto;
    width: 50%;
    font-family: Poppins;
    text-align: justify;
}

/* Titulo estilizado 
*/
.AboutTitle{
    margin: auto;
    font-size: 2rem;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: center;
}


/* Div container da Box, possui uma borda retangular a esquerda 
*/
.RectAux{
    border-left: solid #0E389C;
    border-width: 20vh 0.5vw;
    height: 20vh;
    display: flex;
}

/* A caixa de texto estilizada 
*/
.Box{
    background: rgba(106, 129, 186, 0.26);
    height: 18vh;
    align-self: center;
}



/* Div para o background do titulo 
*/
#Rectangle{
    display: flex;
    margin: auto; 
    margin-top: 10vh;
    background: #0E389C;
    width: 50%;
    align-items: center;
    
    
}

/* Style do texto 
*/
#PrimaryText{
    font-size: 1.2rem;
}

/* Style da imagem 
*/
#AboutImage{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

/* Texto dentro da Box estilizada 
*/
#BoxTxt{
    font-size: 1.12rem;
    font-weight: normal;
    font-style: italic;
    padding-top: 1vh;
    padding-left: 5vh;
    padding-right: 3vh;
    padding-bottom: 3vh;
}


/* Texto abaixo da imagem 
*/
#SubTitle {
    font-size: 1rem;
}

/*  Criterio para melhorar layout em dispositivos de menor resolução  
(Mais especificamente iPad Air)
*/
@media screen and (max-width: 820px){
    .AboutTitle{
        font-size: 2rem;
        white-space: break-spaces;
        text-overflow: ellipsis;
        justify-content: center;
        line-height: 3vh;
        text-align: center;
    }
}
