/* <nav> do Menu de navegação
    Setando cores, largura, altura, margem e formato de visualização
*/
.Menu {
    background-color: #20195F;
    width: 100%;
    height: 42px;
    margin-top: 0;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    max-height: 42px;
}

/*  <ul> do Menu de navegação
    Setando formato de visualização, largura, tipo de lista, fonte, cor e alinhamento
*/
.Menu--options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    font-family: Poppins;
    font-size: 16px;
    color: #F7F5F2;
    align-items: center;
    text-align: center;
    max-height: 42px;
}

/*  <li> particulares do <ul> do Menu de navegação
    Setando espaçamento
*/
.Menu--options > li {
    padding-left: 10%;
    padding-right: 10%;
    max-height: 42px;
}

/*  <a> contendo links para acesso de navegação
*/

.Menu--options > li > a {
    color:#F7F5F2;
    text-decoration: none;
}
