/* <nav> do Menu de navegação
    Setando cores, largura, altura, margem e formato de visualização
*/
.Menu {
    background-color: #20195F;
    width: auto;
    height: 42px;
    margin-top: 0;
    display: flex;
}

/*  <ul> do Menu de navegação
    Setando formato de visualização, largura, tipo de lista, fonte, cor e alinhamento
*/
.Menu--options {
    display: flex;
    width: 100%;
    list-style-type: none;
    font-family: Poppins;
    font-size: 16px;
    color: #F7F5F2;
    align-items: center;
    text-align: center;
}

/*  <li> particulares do <ul> do Menu de navegação
    Setando espaçamento
*/
.Menu--options > li {
    padding: 10%;
}

