.NextGames {
    background-color: #0E389C;
    width: 100%;
    height: 863px;
    font-family: Poppins;
    color: #FFFFFF;
    text-align: center;
}

.NextGames--title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 1.5%;
}

.NextGames > section {
    border-radius: 25px;
    background: linear-gradient(#FFD200 60%, #079A5A 60%);
    width: 48%;
    margin: auto;
    margin-bottom: 1%;
}

.NextGames--Card-upper {
    height: 116px;
    width: 415px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.NextGames--Card-upper > img, p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1%;
    position: relative;
    top: 5px;
}

.NextGames--X {
    font-size: 31px;
}

.NextGames--CBF-logo, .NextGames--JFA-logo, .NextGames--KFA-logo, .NextGames--GFA-logo {
    position: relative;
    top: 13px;
}

.NextGames--Card--upper > p {
    color: #0E389C;
    font-weight: 600;
    font-size: 31px;
    padding-left: 7%;
    padding-right: 7%;
}

.NextGames--Card--lower > p {
    vertical-align: center;
}

.NextGames--Card--lower > strong {
    font-weight: 900px;
}

.NextGames--Data {
    font-size: 14px;
}

.NextGames--CBF-logo {
    height: 86px;
    width: 99px;
}

.NextGames--JFA-logo {
    height: 97px;
    width: 97px;
}

.NextGames--KFA-logo {
    height: 95px;
    width: 97px;
}

.NextGames--GFA-logo {
    height: 93px;
    width: 96px;
}