body {
	font-family: Poppins;
	text-align: justify;
}
.PlayerList {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.PlayersList--AboutTitle,
.PlayersList--Menu1 {
	margin: auto;
	font-size: 2em;
	color: #fff;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1vw;
}
#PlayersList--Rectangle {
	display: flex;
	margin-top: 10vh;
	background: #0e389c;
	width: 25vw;
	align-items: center;
}
.PlayersList--Menu1 {
	margin-top: 10vh;
	background: #0e389c;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70vw;
	height: 7vh;
}
.PlayersList--MenuItens {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	font-size: 21px;
}
.itens {
	color: #ccc;
	margin-right: 4vw;
	cursor: pointer;
}

.PlayersList--MenuItens li:hover {
	color: #fff;
}
.active {
	color: #fff;
}

.PlayersList--container:nth-child(even) {
	color: #0e389c;
	background-color: #eeeeee;
}
.PlayersList--container:nth-child(even) .PlayersList--photo {
	border-top: 6px solid #0e389c;
}
.PlayersList--container:nth-child(even) .PlayersList--Symbol {
	background-color: #0e389c;
}
.PlayersList--container {
	margin-top: 2vh;
	width: 65vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #079a5a;
	margin-bottom: 2vh;
}
/* .PlayersList--container h2 {
	font-size: 21px;
	font-style: normal;
}
.PlayersList--container p {
	font-size: 17px;
} */
.PlayersList--photo {
	height: 80px;
	width: 80px;
	background-color: #ccc;
	border-top: 6px solid #079a5a;
	margin-left: 3vw;
}

.PlayersList--player-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.PlayersList--player-info-text {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	/* width: 50%; */
	margin-left: 2.5vw;
}
.PlayersList--Symbol {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	width: 60px;
	height: 60px;
	background: #079a5a;
	color: #fff;
	margin-right: 3vw;
}

.PlayersList--player-info-text {
	font-size: 20px;
}

.PlayersList--player-info-name {
	font-weight: 700;
	font-style: normal;
}

